body
{
    background-color: lightcyan;
}

div.site_name{ text-align: center;font-size: 40px;}
span.city_name{text-align: center;display: block;font-size: 30px;}
ul{
    background-color: #275B26; height: 35px;
}
li{
    font-size: 23px;
}

div.container {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 23.99%;
  }
  
  div.container:hover {
    border: 1px solid #777;
  }
  
  div.container img {
    width: 100%;
  }
  
  div.description {
    padding: 15px;
    text-align: center;
  }

  div.footer{
      float: left; padding: 15px;
  }

  div.wrapper{
      padding-left: 30px;
      padding-right: 30px;
  }